<h1>Homepage</h1>
<p>Bienvenue chez votre agence web BNT, réputée pour être la meilleure des meilleures. Ici vous trouver toutes nos informations ainsi que nos coordonnées.
    Bonne navigation.
</p>

<div class="row">
<div class="col">
    <a routerLink="/projects" class="btn btn-primary">
        liste des projets
    </a>
</div>
<div class="col">
    <a routerLink="/employees" class="btn btn-primary">
        liste des utilisateurs
    </a>
</div>
<div class="col">
    <a routerLink="/customers" class="btn btn-primary">
        liste des clients
    </a>
</div>
</div>



